:root {
  --primaryColor: #EF6D23;
  --secondaryColor: #F7A473;
}
a[data-test-id="nav-settings"], #nav-primary-home, .menu, #hs-nav-v4 .mobile .primary-links{
	background-color: var(--primaryColor) !important;
}
a[data-test-id="nav-settings"]:hover, #nav-primary-home:hover .menu:hover, .menu ul:hover{
    background-color: var(--secondaryColor) !important;
}

/* menu */
#hs-nav-v4 .primary-link{
  line-height: 32px!important;
}
#hs-global-toolbar {
  background-color: var(--primaryColor) !important;
}
#hs-nav-v4 #navbar {
  background-color: var(--primaryColor) !important;
}

#hs-nav-v4 .primary-links>li>a:hover {
  background-color: var(--secondaryColor) !important;
}

#hs-nav-v4 .navSearch-v2 .navSearch-inputWrapper .navSearch-input {
  background-color: var(--primaryColor) !important;
}

#hs-nav-v4 .navSearch-v2 .navSearch-inputWrapper .navSearch-input:hover {
  background-color: var(--secondaryColor) !important;
}

#hs-nav-v4 .primary-links>li.active>a,
#hs-nav-v4 .primary-links>li.currentPage>a {
  background-color: var(--primaryColor) !important;
}

#hs-nav-v4 .secondary-nav {
  background-color: var(--primaryColor) !important;
}

#hs-nav-v4 .secondary-nav>ul>li.active>a,
#hs-nav-v4 .secondary-nav>ul>li:not(.expandable)>a:hover {
  background-color: var(--secondaryColor) !important;
}

#hs-nav-v4 .tertiary-nav {
  background-color: var(--primaryColor) !important;
}

#hs-nav-v4 .tertiary-nav>ul>li>a:hover {
  background-color: var(--secondaryColor) !important;
}

#hs-nav-v4 .navTertiaryLink {
  background-color: var(--primaryColor) !important;
}

#hs-nav-v4 .navTertiaryLink:hover {
  background-color: var(--secondaryColor) !important;
}

#hs-nav-v4 .nav-dropdown-separator {
  border: 1px solid var(--secondaryColor) !important;
}

#hs-nav-v4 .expansion a.navSecondaryLink {
  background-color: var(--primaryColor) !important;
}
#hs-nav-v4 .tool-divider{
	border: 1px solid var(--secondaryColor) !important;
}


/* not display icons */

button[data-selenium-test="call-remote-toggle"]{
    display: none;
}
button[aria-label="Notifications"]{
    display: none;
}
.navSearch-inputWrapper{
    display: none;
}

button[aria-label="Marketplaces"] {
    display: none;
}

/* in menu toggle header */
#toggleHeader {
  display: none;
  width: 0;
  height: 0;
}

#toggleHeader + label {
  color: white;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  vertical-align: middle;
  margin-left: 40px;
}

#toggleHeader + label:before {
  content: "Expand v";
}

#toggleHeader:checked + label:before {
  content: "Retract >";
}


/* tag style for the cards */

span.fStvms.tag {
  border: solid 1px grey;
  background: white;
  padding: 3px;
  margin: 3px;
}

/* not displau totals as in crm */
[class*='ColumnTitle__'] [class*='ColumnHeaderSpacedContent__'] span:not([class]) {
    display: none;
}


/* Misc */
body {
  width: 300px;
  font-family: Arial, sans-serif;
  background: none;
  margin: 0; /* Removes body margin */
}
.container {
  background: #f5f5f5; /* Lighter grey */
  
}
.signature {
  background-color: #888; /* Slightly darker grey */
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.signature p {
  margin-top: 0;
  margin-bottom: 10px;
}
.signature a {
  color: #fff;
}
.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 1.2em;
}
.logo-container p{
  margin-bottom: 10px;
}
h1, label {
  margin-bottom: 10px;
}
h1{
  text-align-last: center;
}
.content{
  padding: 10px;
}

section[class="hs-toolbar-logo-container"]:hover{
  background-color: var(--secondaryColor)!important;
}


/* Sidebar filter*/
#filtersContainer {
  display: flex;
  cursor: pointer;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 40%;
  right: 0;
  z-index: 1100;
  background-color: var(--primaryColor);
  border-radius: 10px 0 0 10px;
  padding: 5px;
}

#openBtn {
  background: none;
  border: none;
  margin-bottom: 10px;
  filter: invert(1);

}

#filtersContainer div > span {
  display: block;
  color:white;
}


html.set-crm-index-page-height-with-86px-nav, html.set-crm-index-page-height-with-86px-nav div.app, html.set-crm-index-page-height-with-86px-nav body {
  height: calc(100vh - 32px)!important;
}

.private-media{
  margin-top:5px;
}

small[data-test-id="summary-line-2"]{
  display:none;
}